.vscode
sensitivedata.txt

Client/data/things/1098/Tibia.spr
Client/data/things/1098/Tibia.dat
Client/otclient/
Client/otclient.log
Client/crashreport.log
Client/vc14/.vs/
Client/vc14/Win32/
Client/vc14/x64/
Client/vc14/Release/
Client/TheForgottenTibia.exp
Client/TheForgottenTibia.lib
Client/TheForgottenTibia.pdb
Client/theforgottentibia.log
Client/src/.vscode
Client/config.otml

Server/*.dll
Server/theforgottenserver-x64.exe
Server/theforgottenserver-x64.pch
Server/theforgottenserver-x64.pdb
Server/*.rej
Server/etc/
Server/build/
Server/config.lua
Server/data/world/forgottenworld1098oldglobal.otbm
Server/data/world/forgottenworld1098oldglobal-spawn.xml
Server/data/world/forgottenworld1098oldglobal-house.xml
Server/TheForgottenTibiaServerRestarter.bat
Server/TheForgottenTibiaServer-x64-Restarter.exe
Server/theforgottenserver-x64.exe
Server/vc14
Server/vc14/*
Server/vc14/.vs/
Server/vc14/Win32/
Server/vc14/x64/
Server/vc14/Release/
Server/TheForgottenTibiaServer-x64.pdb
Server/src/.vscode
Client/TheForgottenTibia_05-11-19.zip
Client/data/things/1098/tibia_1098_dat_and_spr.zip
Server/TheForgottenTibiaServer-x64.pch
