Client/data/things/1098/Tibia.spr
Client/data/things/1098/Tibia.dat
Client/vc14/.vs/
Server/vc14/.vs/
Server/etc/
Server/config.lua
Server/data/world/forgottenworld1098oldglobal.otbm
Server/data/world/forgottenworld1098oldglobal-spawn.xml
Server/data/world/forgottenworld1098oldglobal-house.xml
Server/TheForgottenTibiaServerRestarter.bat
Server/TheForgottenTibiaServer-x64-Restarter.exe
Client/otclient/
