/* BY HEMRENUS321 */
/* otland.net/members/hemrenus321.88336 */
@import url('https://fonts.googleapis.com/css?family=Metamorphous');
@font-face
{
  font-family: 'FontAwesome';
  src: url('font/fontawesome-webfont.eot?v=3.2.1');
  src: url('font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),
  url('font/fontawesome-webfont.woff?v=3.2.1') format('woff'),
  url('font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),
  url('font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon
{
	font-family: 'FontAwesome';
}
body
{
	background: url(img/bg.png) #0a0301 center top no-repeat;
	margin: 0;
	font-family: "Tahoma", sans-serif;
	font-size: 13px;
}
/* ----- SEARCH BAR ----- */
.search_area
{
	display: block;
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 36px;
	z-index: -1;
}
input[type=text].nav_search 
{
	width: 131px;
	height: 32px;
	padding: 5px 0px 0px 10px;
	position: absolute;
	top: 20px;
	right: 45px;
	background: 0 none transparent;
	font-size: 12px;
	border-left: 2px solid rgba(255,255,255,0.22);
	border-bottom: 2px solid rgba(255,255,255,0.22);
	border-right: 0;
	border-top: 0;
	color: #7a7a7a;
	box-sizing: border-box; /* PADDING BUG FIX */
	border-radius: 0 0 0 3px;
	
}
input[type=text].nav_search:focus
{
	outline: 0 none;
	border-left: 2px solid rgba(255,255,255,0.5);
	border-bottom: 2px solid rgba(255,255,255,0.5);
	color: #f4f4f4;
}
.nav_search_btn
{
	background: 0 none transparent;
	border-right: 2px solid rgba(255,255,255,0.22);
	border-bottom: 2px solid rgba(255,255,255,0.22);
		border-left: 0 none;
		border-top: 0 none;
	font-family: 'FontAwesome';
	color: #7a7a7a;
	border-radius: 0 0 3px 0;
	line-height: 40px;
	width: 25px;
	height: 32px;
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 0 4px 0 0;
    text-align: right;
}
.nav_search_btn:hover
{
	cursor: pointer;
}
.nav_search_btn:focus
{
	outline: 0 none;
	color: #f4f4f4;
}
/* ----- NEWS BOX ----- */
.news_title
{
	background: url('img/news_top.png') center center no-repeat;
	width: 451px;
	height: 28px;
	padding-left: 37px;
	padding-top: 15px;
	color: #d53e09;
	font-size: 14px;
	text-shadow: 1px 1px 2px #000;
	position: relative;
}
.news_title .date
{
	right: 15px;
	top: 17px;
	color: #572a1d;
	font-size: 11px;
	position: absolute;
	text-shadow: 0 0 0 transparent;
}
.news_mid
{
	background: url('img/news_mid.png') top center repeat-y;
	width: 462px;
	padding: 7px 13px 4px 13px;
	color: #8a4d37;
	font-size: 12px;
	text-shadow: 0 1px 0 #000;
}
.news_mid img
{
	float: left;
	margin-right: 11px;
	margin-bottom: 11px;
	max-width: 190px !important;
	height: auto;
	border-radius: 5px;
}
.news_bot
{
	background: url('img/news_bot.png') center center no-repeat;
	width: 488px;
	height: 9px;
}
/* END */

a
{
	color: #C34124;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
textarea
{
	max-width: 445px;
}
textarea[name=text]
{
	max-width: 245px;
}
input[name=topic]
{
	max-width: 245px;
}
input[type=text]
{
	max-width: 350px;
}
.content img
{
	max-width: 420px;
	height: auto;
}
::selection
{
	background: rgba(195, 57, 25, 0.7);
	color: #ffffff;
	text-shadow: none;
}

.slider_bg
{
	background: url(img/slider_bg.png) no-repeat;
	width: 488px;
	height: 135px;
	display: block;
}
#slides
{
	width: 467px;
	height: 113px;
	position: relative;
	margin: 10px;
	float: left;
	border: 1px solid #973725;
	border-radius: 3px;
}
#slides img
{
	max-width: 469px;
	max-height: 115px;
	border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
}
.slidesjs-navigation
{
	z-index: 90;
}
a.slidesjs-navigation
{
	text-decoration: none;
	font-size: 40px;
	color: rgba(0,0,0,0.7);
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	top: 40px;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 0 transparent; 
}
a.slidesjs-navigation:hover
{
	color: rgba(255,255,255,0.5);
}
.slidesjs-previous
{
	left: 0;
}
.slidesjs-next
{
	right: 0;
}
.slidesjs-pagination
{
	z-index: 90;
	position: absolute;
	top: 0;
	left: 10px;
}
ul.slidesjs-pagination
{
	list-style: none;
	margin: 10px 0;
	padding: 0;
}
.slidesjs-pagination li
{
	float: left;
	margin: 0 3px;
}
.slidesjs-pagination li a
{
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background: rgba(0,0,0,0.8);
	border-radius: 20px;
	float: left;
	overflow: hidden;
}
.slidesjs-pagination li a:hover
{
	background: rgba(0,0,0,0.5);
}
.slidesjs-pagination li a.active
{
	background: rgba(255,255,255,0.7);
}
.page
{
	width: 870px;
	margin: 0 auto;
}
.navbar
{
	width: 870px;
	height: 80px;
	margin-top: 15px;
	position: relative;
	z-index: 10;
}
.navbar .link
{
	height: 80px;
	background: url(img/navbar_sprite.png) no-repeat 0 0;
	display: block;
	float: left;
}

.navbar .link.news
{
	background-position: 0 0;
	width: 165px;
}
.navbar .link.news:hover
{
	background-position: 0 -80px;
}
.navbar .link.account
{
	background-position: -165px 0;
	width: 180px;
}
.navbar .link.account:hover
{
	background-position: -165px -80px;
}
.navbar .link.info
{
	background-position: -345px 0;
	width: 180px;
}
.navbar .link.info:hover
{
	background-position: -345px -80px;
}
.navbar .link.shop
{
	background-position: -525px 0;
	width: 180px;
}
.navbar .link.shop:hover
{
	background-position: -525px -80px;
}
.navbar .link.register
{
	background-position: -705px 0;
	width: 165px;
}
.navbar .link.register:hover
{
	background-position: -705px -80px;
}
.logo
{
	background: url(img/logo.png) no-repeat center center;
	width: 870px;
	height: 100px;
	display: block;
}
.main_cnt
{
	width: 870px;
	margin-top: 50px;
}
.left_cnt, .right_cnt
{
	width: 185px;
	float: left;
	color: #8A4D36;
}
.left_cnt ul
{
	margin: 0;
	list-style: none;
	padding: 0;
}
.left_cnt ul li:before
{
	content: "» ";
}
.left_cnt ul li
{
	margin: 0;
    /* text-align: center; */
    list-style: none;
    padding: 3px 0 3px 20px;
    font-size: 15px;
    background: url(img/spacer.png) center top no-repeat;
    color: #4e2a23;
}
.left_cnt ul li:first-child
{
	background: none transparent;
}
.left_cnt ul li a
{
color: #c1885c;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  	 font-family: 'Metamorphous', cursive;
    font-size: 13px;
}
.left_cnt ul li a:hover{
	color: #ed6b14;
	margin-left: 3px;
}
.center_cnt
{
	width: 500px;
	float: left;
}
.cnt_top
{
	background: url(img/cnt_top.png) repeat-y;
	width: 500px;
	height: 44px;
	top: -20px;
	left: 0;
	position: absolute;
	z-index: -10;
}
.cnt_mid
{
	width: 500px;
	background: url(img/cnt_mid.png) repeat-y;
	position: relative;
	padding: 5px 0;
	z-index: 0;
}
.content
{
	padding: 0 6px;
	min-height: 750px;
	color: #867B76;
	margin-top: -20px;
	margin-bottom: -17px;
	text-shadow: 0 1px 1px #000;
}
.cnt_bot
{
	background: url(img/cnt_bot.png) repeat-y;
	width: 500px;
	height: 44px;
	left: 0;
	bottom: -20px;
	position: absolute;
	z-index: -5;
}
.widget-spacer
{
	background: url(img/spacer.png) no-repeat center center;
	width: 185px;
	height: 1px;
}
.widget-news
{
	background: url(img/news.png) no-repeat;
	width: 185px;
	height: 53px;
	display: block;
}
.widget-account
{
	background: url(img/account.png) no-repeat;
	width: 185px;
	height: 53px;
	display: block;
}
.widget-community
{
	background: url(img/community.png) no-repeat;
	width: 185px;
	height: 53px;
	display: block;
}
.widget-shop
{
	background: url(img/shop.png) no-repeat;
	width: 185px;
	height: 53px;
	display: block;
}
.widget-quicklogin
{
	background: url(img/quicklogin.png) no-repeat;
	width: 185px;
	height: 53px;
	display: block;
}
.widget-serverinfo
{
	background: url(img/serverinfo.png) no-repeat;
	width: 185px;
	height: 53px;
	display: block;
}
.widget-top10
{
	background: url(img/top10.png) no-repeat;
	width: 185px;
	height: 53px;
	display: block;
}
.loginbox
{

	padding: 10px;
	color: #7a7a7a;
	font-size: 12px;
}
.loginbox a
{
	color: #a8a8a8;
	text-decoration: none;
}
.loginbox a:hover
{
	text-decoration: underline;
}
.loginbox input.hemrenus
{
	background: 0 none transparent;
	border: 2px solid rgba(255,255,255,0.22);
	color: #7a7a7a;
	width: 130px;
	padding: 0 10px;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	margin: 0 0 5px 0;
	border-radius: 3px;
}
.loginbox input.hemrenus:focus
{
	border: 2px solid rgba(255,255,255,0.6);
	color: #fff;
	outline: 0 none;
}
.loginbox .hemrenus_subm
{
	background: rgba(255,255,255,0.4);
	color: #000;
	border: 0 none;
	font-weight: 700;
	width: 75px;
	padding: 0 10px;
	height: 25 !importantx;
	line-height: 25px;
	margin: 0 0 4px 0;
	font-size: 11px;
	text-transform: uppercase;
	display: inline-block;
	border-radius: 3px;
}
.loginbox a.hemrenus_subm
{
	vertical-align: middle; /* THIS WEIRD 2PX SUBMIT BUTTON CHROME THING FIX*/
	background: rgba(255,255,255,0.22);
	margin: 0;
	color: #000;
	border: 0 none;
	font-weight: 700;
	width: 75px;
	padding: 0;
	text-decoration: none;
	text-align: center;
	height: 25px;
	line-height: 25px;
	font-size: 11px;
	text-transform: uppercase;
	display: inline-block;

	border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
}

.loginbox .hemrenus_subm:hover
{
	background: rgba(255,255,255,0.5);
	cursor: pointer;
	color: black;
}
.loginbox .hemrenus_subm:focus
{
	outline: 0 none;
}
.loginbox .hemrenus_subm:active
{
	background: rgba(255,255,255,0.5);
}
.right_cnt ul
{
	margin: 5px 0 10px 20px;
	padding: 0;
}
ul.top10
{
	width: 160px;
	position: relative;
	list-style: none;
	margin-left: 8px;
}
span.lvl {
    text-shadow: 0 1px 0 #000;
    right: 5px;
    position: absolute;
	font-size: 10px;
	padding: 1px 5px;
	margin: 2px 0;
	background: #191717;
	border-radius: 4px;
}

.footer
{
	width: 500px;
	height: 200px;
	margin-top: 20px;
	float: left;
	display: block;
	/* Footer background image missing */
	/* background: url('img/footer_bg.png') no-repeat; */
	color: #5F4840;
	text-align: center;
	font-size: 11px;
}
.footer .links
{
	color: #311810;
	text-align: center;
	font-size: 10px;
	margin: 30px 0 0 0;
}
.footer .links a
{
	color: #8C321F;
	text-decoration: none;
	text-transform: uppercase;
}
.footer .links a:hover
{
	color: #DE6800;
}
.footer p
{
	margin: 11px 0 0 0;
}
table { 
  margin: 10px 0 30px 0;
  width: 100%;
}

table tr th, table tr td { 
  background: #fff2;
  color: #FFF6;
  padding: 7px 4px;
  text-align: left;
}

tr.yellow td {
  background: #fff3;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;
}
  
table tr td { 
  background: #fff2;
  color: #fff7;
  border-top: 1px solid #FFF6;
}

/* guild war */
tr.special:hover td {
   background: #fff4;
}

tr.special {
    cursor: pointer;
}

ul.war_list li {
   font-size:18px;
}

/* Modifications by Znote */

/* Fix add news form */
form > div {
	min-width: 100%;
}
div.nicEdit-main {
	min-width: 100%;
}
/* Make the news date color more visible */
div.news_title div.date {
	color: grey;
}
/* Make white inputs fit the theme */
input:not(.nav_search):not(.nav_search_btn), select {
	border: 2px solid rgba(255,255,255,0.22);
	background: 0 none transparent;
	color: grey;
	padding: 4px 8px;
	margin-bottom: 8px;
}
input[type=submit]:not(.nav_search_btn) {
	margin-top: 8px;
	color: grey;
}
td.outfitColumn {
	position: relative;
	width: 64px;
	height: 64px;
	overflow: hidden;
}
td.outfitColumn img {
	position: absolute;
	left: -16px;
	top: -16px;
}
form.houselist {
	margin-top: 16px;
}

form.houselist select {
	display: inline-block;
	clear: right;
}
form.houselist select:after {
	content: '';
	display: block;
	clear: both;
}