/* Sharing Toolbar Styling */
/* IE 6 Compatibility mode */
.show-comment, .show-linkmore, .show-hit, .jctools,
.show-feed, .show-report, .show-voteup, .show-votedown{
	display:inline;
	float:right;
	height:18px;
	text-indent: 24px;
	margin-left: 4px;
	margin-right: 4px;
	background-repeat:no-repeat;
	background-position: 0 50%;
}
div.commentBlogView > div.show-comment,
div.commentBlogView > div.show-linkmore,
div.commentBlogView > div.show-hit,
div.jctools, div.show-feed, div.show-report,
div.show-voteup, div.show-votedown{
	display:inline;
	float:right;
	height:18px;
	text-indent: 24px;
	margin-left: 4px;
	margin-right: 4px;
	background-repeat:no-repeat;
	background-position: 0 50%;
}
div.show-result{
	display: none;
	float:right;
	height:18px;
	text-indent: 24px;
	margin-left: 4px;
	margin-right: 4px;
}
/* For IE Only */
div.show-comment {
	background: transparent url(toolbar.gif) no-repeat 0 -71px;
}

div.show-linkmore {
	background: transparent url(toolbar.gif) no-repeat 0 -90px;
}

div.show-hit {
	background: transparent url(toolbar.gif) no-repeat 0 -35px;
}

/* More specific rule for other browser */
div.commentBlogView > div.show-comment {
	background: transparent url(toolbar.gif) no-repeat 0 -71px;
}

div.commentBlogView > div.show-linkmore {
	background: transparent url(toolbar.gif) no-repeat 0 -90px;
}
div.commentBlogView > div.show-hit{
	background: transparent url(toolbar.gif) no-repeat 0 -35px;
}
div.show-feed {
	width: 18px;
	background-image:none;
}
div.jcfav {
	background: transparent url(toolbar.gif) no-repeat 0 -54px;
}
div.jcshare {
	background: transparent url(toolbar.gif) no-repeat 0 1px;
}
div.jcemail {
	background: transparent url(toolbar.gif) no-repeat 0 -16px;
}
div.jcpreview {
	background: transparent url(toolbar.gif) no-repeat -18px -36px;
}
/* Sharing Toolbar Styling */

div.commentBlogView {
	display: block;
	text-align: right;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-top: 4px;
	margin-bottom: 4px;
	clear: both;
}
div.voteReport {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	margin-top: 0px;
	padding: 3px;
	right: -2px;
	position: absolute;
	text-align: center;
	top: -2px;
	display: none;
}
div.commentTools {
	border-bottom: 1px solid #BCBCBC;
	height: 18px;
}
.jomauthor {
	background: #fff;
}
#jc_commentsDiv blockquote {
	color: #747474;
	padding-left: 30px;
}
.avatarImg {
	display: block;
	padding: 6px;
}
.avatarImg img {
	border: 1px solid #ddd
}
#jc_name, #jc_website, #jc_email, #jc_title, #jc_comment, #jc_password {
	width: 98%;
	padding: 4px;
	margin: 0ex;
}
#jc_name, #jc_website, #jc_email, #jc_password {
	width: 50%;
}
#jc_commentForm {
	padding-top: 2px;
	padding-bottom: 6px;
}
#jc_commentForm label {
	font-weight: bold;
	padding-top: 6px;
	padding-bottom: 4px;
	display: block;
}
#jc_commentForm button, #jc_captchaImg {
	margin-top: 6px;
	margin-bottom: 4px;
}
.CommentArea {
	margin: 8px 4px 8px 0px;
	width: 100%;
	display: block;
	position: relative;
}
.CommentTitle {
	margin-bottom: 6px;
	font-size: 1em;
	font-weight: normal;
}
.jomentry1 .CommentArrow,
.jomentry2 .CommentArrow {
	background: transparent url(comment-arrow.gif) no-repeat 0 0;
	width: 14px;
	height: 14px;
	margin-bottom: -7px;
}
.jomauthor .CommentArrow {
	background: transparent url(comment-arrow.gif) no-repeat 0 -18px;
	width: 14px;
	height: 14px;
	margin-bottom: -7px;
}
.jomentry1 .CommentText,
.jomentry1 .CommentText,
.jomauthor .CommentText {
	padding-bottom: 3px;
	background-image: url(comment-shadow.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.jomauthor .CommentText {
	background: #f5f5c1;
}
.CommentText blockquote {
	color: #747474;
	padding-left: 30px;
}
.CommentText2 {
	border: solid 1px #bcbcbc;
	padding: 3px;
}
.CommentText3 {
	padding: 5px;
	font-size: .9em;
	position: relative;
}
.CommentFooter {
	margin-top: 4px;
	font-size: 80%;
	color: #666666;
	padding-left: 16px;
}
/* Trackbacks */
#trackback_link, .feed_link {
	height: 16px;
	vertical-align: middle;
	text-align: left;
	cursor: pointer;
	font-size: 90%;
}
#trackback_link a, .feed_link a {
	border-bottom: dashed 1px #CACACA;
}
#trackback_link img, .feed_link img {
	vertical-align: middle;
	padding-right: 2px;
	padding-left: 2px;
}
#comment_title {
	margin-top: 20px;
	margin-bottom: 8px;
}
#written_comments_title {
	margin-top: 14px;
}
.comment_action {
	background-color: #eee;
	border-color: #ccc rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
	border-style: solid;
	border-width: 1px;
	color: #333333;
	display: -moz-inline-box;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 100%;
	margin: 1px;
	vertical-align: middle;
	white-space: nowrap;
	position: absolute;
	right: 0px;
	top: 0px;
}
#jc_commentForm label.subscribe, #jc_commentForm label.agree {
	font-style: normal;
	font-weight: normal;
}
#jc_commentsDiv .jc_comment_panel {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 25px;
}
#jc_commentsDiv .jc_comment_panel li {
	list-style: none;
	float: right;
	background: none;
	padding: 0 0 0 10px;
	margin: 0;
	display: inline;
}
#jc_commentsDiv .jc_comment_panel li a {
	padding: 0 0 0 20px;
}
#jc_commentsDiv .jc_comment_panel .jc_comment_panel_up {
	width: 56px;
}
#jc_commentsDiv .jc_comment_panel .jc_comment_panel_down {
	width: 72px;
}
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_up a:link,
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_up a:visited,
#jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_up a:link,
#jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_up a:visited {
	height: 18px;
	display: block;
	cursor: pointer;
	background: transparent url(votings.gif) no-repeat 0 2px;
}
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_up a:hover,
#jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_up a:hover {
	background: transparent url(votings.gif) no-repeat 0 -16px;
}
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_down a:link,
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_down a:visited,
#jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_down a:link,
#jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_down a:visited {
	height: 18px;
	display: block;
	cursor: pointer;
	background: transparent url(votings.gif) no-repeat 0 -34px;
}
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_down a:hover,
#jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_down a:hover {
	background: transparent url(votings.gif) no-repeat 0 -52px;
}

#jc_commentsDiv .jc_comment_panel .jc_comment_panel_report {
	width: 82px;
}
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_report a:link,
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_report a:visited,
#jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_report a:link,
#jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_report a:visited {
	height: 18px;
	display: block;
	cursor: pointer;
	background: transparent url(votings.gif) no-repeat 0 -71px;
}
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_report a:hover,
#jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_report a:hover {
	background: transparent url(votings.gif) no-repeat 0px -89px;
}