name: Build with vcpkg

on:
  push:
    branches:
      - master
      - v*

    tags:
      - v*

    paths:
      - .github/workflows/**
      - Client/cmake/**
      - Client/src/**
      - Client/CMakeLists.txt

  pull_request:
    paths:
      - .github/workflows/**
      - Client/cmake/**
      - Client/src/**
      - Client/CMakeLists.txt

jobs:
  job:
    name: ${{ matrix.os }}-${{ matrix.cxx }}-${{ matrix.buildtype }}-luajit=${{ matrix.luajit }}
    runs-on: ${{ matrix.os }}-${{ matrix.os-version }}
    strategy:
      fail-fast: false
      max-parallel: 8
      matrix:
        # name: [ubuntu-gcc, macos-clang, windows-msvc]
        name: [windows-msvc]
        # buildtype: [Debug, Release]
        buildtype: [Release]
        luajit: [on, off]
        include:
          - name: windows-msvc
            os: windows
            os-version: latest
            cxx: cl.exe
            cc: cl.exe
            triplet: x64-windows
            packages: >
              boost-iostreams boost-asio boost-system boost-variant boost-lockfree boost-filesystem boost-uuid
              glew luajit libogg libvorbis openal-soft opengl openssl physfs zlib
          # - name: ubuntu-gcc
          #   os: ubuntu
          #   os-version: 20.04
          #   cxx: g++
          #   cc: gcc
          #   triplet: x64-linux
          #   packages: >
          #     boost-iostreams boost-asio boost-system boost-variant boost-lockfree glew
          #     boost-filesystem boost-uuid physfs openal-soft libogg libvorbis zlib opengl
          # - name: macos-clang
          #   os: macos
          #   os-version: latest
          #   cxx: clang++
          #   cc: clang
          #   triplet: x64-osx
          #   packages: >
          #     boost-iostreams boost-asio boost-system boost-variant boost-lockfree glew
          #     boost-filesystem boost-uuid libogg libvorbis zlib opengl
        exclude:
          - name: windows-msvc
            luajit: off

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Get latest CMake
        # Using 'latest' branch, the latest CMake is installed.
        uses: lukka/get-cmake@latest

      - name: Ubuntu - install opengl lua5.1 luajit
        # vcpkg has lua 5.3+
        run: sudo apt-get install libglew-dev liblua5.1-0-dev libluajit-5.1-dev
        if: contains( matrix.os, 'ubuntu')

      - name: MacOS - install physfs pkgconfig lua5.1 luajit xquartz
        run: brew install physfs pkgconfig lua@5.1 luajit xquartz
        if: contains( matrix.os, 'macos')

      - name: Set Environment vars
        run: |
          echo "CXX=${{ matrix.cxx }}" >> $GITHUB_ENV
          echo "CC=${{ matrix.cc }}" >> $GITHUB_ENV

      - name: Run vcpkg
        uses: lukka/run-vcpkg@v10
        with:
          vcpkgDirectory: ${{ runner.workspace }}/vcpkg/
          vcpkgGitCommitId: 6f7ffeb18f99796233b958aaaf14ec7bd4fb64b2

          # This is the glob expression used to locate the vpkg.json and add its
          # hash to the cache key. Change it to match a single manifest file you want
          # to use.
          vcpkgJsonGlob: '${{ runner.workspace }}/Client/vcpkg.json'

          # This is needed to run `vcpkg install` command (after vcpkg is built) in
          # the directory where vcpkg.json has been located. Default is false,
          # It is highly suggested to let `run-cmake` to run vcpkg (i.e. `false`)
          # (i.e. let CMake run `vcpkg install`) using the vcpkg.cmake toolchain.
          # runVcpkgInstall: true

      - name: Build with CMake
        uses: lukka/run-cmake@v10
        with:
          # This is the default path to the CMakeLists.txt along side the
          # CMakePresets.json. Change if you need have CMakeLists.txt and CMakePresets.json
          # located elsewhere.
          cmakeListsTxtPath: ${{ runner.workspace }}/TheForgottenTibia/Client/CMakeLists.txt

          # This is the name of the CMakePresets.json's configuration to use to generate
          # the project files. This configuration leverages the vcpkg.cmake toolchain file to
          # run vcpkg and install all dependencies specified in vcpkg.json.
          configurePreset: 'ninja-multi-vcpkg'

          # Additional arguments can be appended to the cmake command.
          # This is useful to reduce the number of CMake's Presets since you can reuse
          # an existing preset with different variables.
          configurePresetAdditionalArgs: [
            '-DCMAKE_BUILD_TYPE="Release"',
            '-DLUAJIT="on"'
          ]

          # This is the name of the CMakePresets.json's configuration to build the project.
          buildPreset: 'ninja-multi-vcpkg'

          # Additional arguments can be appended when building, for example to specify the
          # configuration to build.
          # This is useful to reduce the number of CMake's Presets you need in CMakePresets.json.
          buildPresetAdditionalArgs: ['--config Release']
    
          # This is the name of the CMakePresets.json's configuration to test the project with.
          testPreset: 'ninja-multi-vcpkg'

          # Additional arguments can be appended when testing, for example to specify the config
          # to test.
          # This is useful to reduce the number of CMake's Presets you need in CMakePresets.json.
          testPresetAdditionalArgs: ['--config Release']
      - name: dir
        run: find $RUNNER_WORKSPACE
        shell: bash

      - name: Upload artifact binary
        uses: actions/upload-artifact@v3
        with:
          name: otclient-${{ matrix.name }}-${{ matrix.buildtype }}-luajit=${{ matrix.luajit }}-${{ github.sha }}
          path: ${{ runner.workspace }}/Client/build/otclient
        if: "! contains( matrix.os, 'windows')"

      - name: Upload artifact binary (exe)
        uses: actions/upload-artifact@v3
        with:
          name: otclient-${{ matrix.name }}-${{ matrix.buildtype }}-luajit=${{ matrix.luajit }}-${{ github.sha }}
          path: ${{ runner.workspace }}/Client/build/otclient.exe
        if: contains( matrix.os, 'windows')

      - name: Upload artifact binary (dlls)
        uses: actions/upload-artifact@v3
        with:
          name: otclient-${{ matrix.name }}-${{ matrix.buildtype }}-luajit=${{ matrix.luajit }}-${{ github.sha }}
          path: ${{ runner.workspace }}/Client/build/*.dll
        if: contains( matrix.os, 'windows')
    env:
      # [OPTIONAL] Define the vcpkg's triplet you want to enforce, 
      # otherwise the default one for the hosting system will be 
      # automatically choosen (x64 is the default on all platforms, e.g. x64-osx).
      VCPKG_DEFAULT_TRIPLET: ${{ matrix.triplet }} 